block variables


// begin::Aside Menu
.hover-scroll-overlay-y.my-5.my-lg-5(id="kt_aside_menu_wrapper" data-kt-scroll="true"  data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0")
  // begin::Menu
  .menu.menu-column.menu-title-gray-800.menu-state-title-primary.menu-state-icon-primary.menu-state-bullet-primary.menu-arrow-gray-500(id="#kt_aside_menu" data-kt-menu="true")
    .menu-item
      .menu-content.pb-2
        span.menu-section.text-muted.text-uppercase.fs-8.ls-1 Dashboard
    .menu-item
      a.menu-link(class={active: page === 'index'} href="/")
        span.menu-icon
          // begin::Svg Icon | path: icons/duotune/general/gen025.svg
          span.svg-icon.svg-icon-2
            svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
              rect(x='2', y='2', width='9', height='9', rx='2', fill='black')
              rect(opacity='0.3', x='13', y='2', width='9', height='9', rx='2', fill='black')
              rect(opacity='0.3', x='13', y='13', width='9', height='9', rx='2', fill='black')
              rect(opacity='0.3', x='2', y='13', width='9', height='9', rx='2', fill='black')
          // end::Svg Icon
        span.menu-title Home
    .menu-item
      a.menu-link(class={active: page === 'member_management'} href='member_management.html')
        span.menu-icon
          // begin::Svg Icon | path: icons/duotune/general/gen025.svg
          span.svg-icon.svg-icon-2
            svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
              rect(x='2', y='2', width='9', height='9', rx='2', fill='black')
              rect(opacity='0.3', x='13', y='2', width='9', height='9', rx='2', fill='black')
              rect(opacity='0.3', x='13', y='13', width='9', height='9', rx='2', fill='black')
              rect(opacity='0.3', x='2', y='13', width='9', height='9', rx='2', fill='black')
          // end::Svg Icon
        span.menu-title 後台使用者管理
  // end::Menu
// end::Aside Menu