// begin::Page title
.page-title.d-flex.align-items-center.flex-wrap.me-3.mb-5.mb-lg-0(data-kt-swapper='true' data-kt-swapper-mode='prepend' data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}")
  // begin::Title
  h1.d-flex.align-items-center.text-dark.fw-bolder.fs-3.my-1
    | Dashboard
    // begin::Separator
    span.h-20px.border-gray-200.border-start.ms-3.mx-2
    // end::Separator
    // begin::Description
    small.text-muted.fs-7.fw-bold.my-1.ms-1 #XRS-45670
    // end::Description
  // end::Title
// end::Page title
