// begin::Toolbar
.toolbar#kt_toolbar
  // begin::Container
  #kt_toolbar_container.container-fluid.d-flex.flex-stack

    include ../page-title/_default.pug

    // begin::Actions
    .d-flex.align-items-center.py-1
      // begin::Wrapper
      .me-4
        // begin::Menu
        a.btn.btn-sm.btn-flex.btn-light.btn-active-primary.fw-bolder(href='#', data-kt-menu-trigger='click', data-kt-menu-placement='bottom-end')
          // begin::Svg Icon | path: icons/duotune/general/gen031.svg
          span.svg-icon.svg-icon-5.svg-icon-gray-500.me-1
            svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
              path(d='M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z', fill='black')
          // end::Svg Icon
          | Filter
        // begin::Menu 1
        .menu.menu-sub.menu-sub-dropdown.w-250px.w-md-300px#kt_menu_6176d530b7beb(data-kt-menu='true')
          // begin::Header
          .px-7.py-5
            .fs-5.text-dark.fw-bolder Filter Options
          // end::Header
          // begin::Menu separator
          .separator.border-gray-200
          // end::Menu separator
          // begin::Form
          .px-7.py-5
            // begin::Input group
            .mb-10
              // begin::Label
              label.form-label.fw-bold Status:
              // end::Label
              // begin::Input
              div
                select.form-select.form-select-solid(data-kt-select2='true', data-placeholder='Select option', data-dropdown-parent='#kt_menu_6176d530b7beb', data-allow-clear='true')
                  option
                  option(value='1') Approved
                  option(value='2') Pending
                  option(value='2') In Process
                  option(value='2') Rejected
              // end::Input
            // end::Input group
            // begin::Input group
            .mb-10
              // begin::Label
              label.form-label.fw-bold Member Type:
              // end::Label
              // begin::Options
              .d-flex
                // begin::Options
                label.form-check.form-check-sm.form-check-custom.form-check-solid.me-5
                  input.form-check-input(type='checkbox', value='1')
                  span.form-check-label Author
                // end::Options
                // begin::Options
                label.form-check.form-check-sm.form-check-custom.form-check-solid
                  input.form-check-input(type='checkbox', value='2', checked)
                  span.form-check-label Customer
                // end::Options
              // end::Options
            // end::Input group
            // begin::Input group
            .mb-10
              // begin::Label
              label.form-label.fw-bold Notifications:
              // end::Label
              // begin::Switch
              .form-check.form-switch.form-switch-sm.form-check-custom.form-check-solid
                input.form-check-input(type='checkbox', name='notifications', checked)
                label.form-check-label Enabled
              // end::Switch
            // end::Input group
            // begin::Actions
            .d-flex.justify-content-end
              button.btn.btn-sm.btn-light.btn-active-light-primary.me-2(type='reset', data-kt-menu-dismiss='true') Reset
              button.btn.btn-sm.btn-primary(type='submit', data-kt-menu-dismiss='true') Apply
            // end::Actions
          // end::Form
        // end::Menu 1
        // end::Menu
      // end::Wrapper
      // begin::Button
      a.btn.btn-sm.btn-primary#kt_toolbar_primary_button(href='#', data-bs-toggle='modal', data-bs-target='#kt_modal_create_app') Create
      // end::Button
    // end::Actions
  // end::Container
// end::Toolbar